{{ define "pagination" }}
{{ if or .HasPrevious .HasNext }}
<nav class="pagination" aria-label="{{ translate .Language "web.pagination.label" }}">
    {{ if .HasPrevious }}
    <a href="{{ if .PreviousURL }}{{ .PreviousURL }}{{ else }}?page={{ sub .CurrentPage 1 }}{{ end }}" class="btn btn-sm">&laquo; {{ translate .Language "web.admin.pagination.previous" }}</a>
    {{ end }}
    <span class="pagination-info">{{ translate .Language "web.pagination.page" }} {{ .CurrentPage }} {{ translate .Language "web.messages.of" }} {{ .TotalPages }}</span>
    {{ if .HasNext }}
    <a href="{{ if .NextURL }}{{ .NextURL }}{{ else }}?page={{ add .CurrentPage 1 }}{{ end }}" class="btn btn-sm">{{ translate .Language "web.admin.pagination.next" }} &raquo;</a>
    {{ end }}
</nav>
{{ end }}
{{ end }}
