{{ define "content" }}
<div class="page-header">
    <h1>{{ .BodyData.Contact.Name }}</h1>
    <a href="/contacts" class="btn btn-secondary">{{ translate .Language "web.contacts.back" }}</a>
</div>
<div class="contact-detail">
    <dl>
        <dt>{{ translate .Language "web.contacts.form.name" }}</dt><dd>{{ .BodyData.Contact.Name }}</dd>
        {{ if .BodyData.Contact.Company }}
        <dt>{{ translate .Language "web.contacts.form.company" }}</dt><dd>{{ .BodyData.Contact.Company }}</dd>
        {{ end }}
        {{ if .BodyData.Contact.Department }}
        <dt>{{ translate .Language "web.contacts.form.department" }}</dt><dd>{{ .BodyData.Contact.Department }}</dd>
        {{ end }}
        {{ if .BodyData.Contact.CompanyAddress }}
        <dt>{{ translate .Language "web.contacts.form.address" }}</dt><dd>{{ .BodyData.Contact.CompanyAddress }}</dd>
        {{ end }}
        {{ if .BodyData.Contact.Emails }}
        <dt>{{ translate .Language "web.contacts.form.emails" }}</dt><dd>{{ range .BodyData.Contact.Emails }}{{ . }} {{ end }}</dd>
        {{ end }}
        {{ if .BodyData.Contact.Phones }}
        <dt>{{ translate .Language "web.contacts.form.phones" }}</dt><dd>{{ range .BodyData.Contact.Phones }}{{ . }} {{ end }}</dd>
        {{ end }}
        {{ if .BodyData.Contact.Social }}
        <dt>{{ translate .Language "web.contacts.form.social" }}</dt><dd>{{ range .BodyData.Contact.Social }}{{ . }} {{ end }}</dd>
        {{ end }}
    </dl>
    {{ template "contact_form" .BodyData.Form }}
    <form method="POST" action="/contacts/{{ .BodyData.Contact.SyncID }}/delete">
        <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
        <button type="submit" class="btn btn-danger" data-confirm="{{ translate .Language "web.contacts.delete.confirm" }}">{{ translate .Language "web.contacts.delete" }}</button>
    </form>
</div>
{{ end }}
